<header>
<div class="BarraNavegar">
		<!-- título de la barra -->
		<div class="Opcion_menu">
				<i class="fas fa-users fa-2x"></i>
				<label class="titulo" >Login&nbsp</label>	
		</div>
</div>
</header>
