<header>
<div class="BarraNavegar">
		<!-- título de la barra -->
		<div class="Opcion_menu">
				<i class="fas fa-users fa-2x"></i>
				<label  class="L1">Vista: Listado de Clientes&nbsp</label>	
		</div>
		<!-- icono -->
		<div class="Opcion_menu Opcion_menu_icono">
			<i class="fas fa-bars"></i>
		</div>			
		
		<!-- alineados a la derecha -->
		<nav class="Grupo_opciones Grupo_opciones_derecha">
					<div class="Opcion_menu" onclick="location.href=('/');">
							<label id="8" class="label_menu"
							onmousemove="document.getElementById('8').style.color = 'aqua';"
							onmouseout="document.getElementById('8').style.color = 'white';"
							>Volver</label>
					</div>
		</nav>		
</div>
</header>