<title><%= titulo %></title>
<%- include('01-HEAD'); %> 

<body> 
	<%- include('02-HEADER-2'); %> 

	<div class="contenedor1">
	<div id="cajapagina" class="contenedor2">
  
 			<div class="contenedor-formulario">
					<img src="imagenes/usuario.png" width="80" height="94"><br><br>
					<h3 style="color:red">Hola!!</h3>
					<h3 style="color:green">Te saludo desde NodeJs-Express:</h3>
					<h4>Aquí no hemos utilizado Modelo</h4><br><br>

					<button class="boton" id="boton3" type="button"
					onclick="location.href=('/');">
					<i class="fas fa-window-close"></i>&nbsp&nbspVolver
					</button><br><br>			
			</div>
	</div>
	</div>
	<%- include('03-FOOTER'); %> 
</body>
</html>

