<footer class="footer">
		<img  id="logo2.png" src="imagenes/estrella.gif"  height="40" width="40" style="visibility:hidden;"/>
		&nbsp&nbsp<i class="fab fa-node fa-3x" ></i>
		<label>&nbsp © 2022 Copyright</label>		
</footer>



